<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>c1</key>
	<string>0x1f3541</string>
	<key>c2</key>
	<string>0x243b47</string>
	<key>c3</key>
	<string>0x1f3541</string>
	<key>c4</key>
	<string>0x1a2e39</string>
	<key>c5</key>
	<string>0x1d313c</string>
	<key>t4</key>
	<string>0xe6f3f4</string>
	<key>t5</key>
	<string>0xf8ff9a</string>
	<key>t6</key>
	<string>0x7a888f</string>
</dict>
</plist>
