<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>c1</key>
	<string>0xbfa067</string>
	<key>c2</key>
	<string>0xfeefd0</string>
	<key>c3</key>
	<string>0x292929</string>
	<key>c4</key>
	<string>0xc5a466</string>
	<key>c5</key>
	<string>0xcdac6d</string>
	<key>t4</key>
	<string>0x24221f</string>
	<key>t5</key>
	<string>0xc07400</string>
	<key>t6</key>
	<string>0x937a4a</string>
</dict>
</plist>
