<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>c1</key>
	<string>0x222230</string>
	<key>c2</key>
	<string>0x2b2a3a</string>
	<key>c3</key>
	<string>0x20202c</string>
	<key>c4</key>
	<string>0x39384a</string>
	<key>c5</key>
	<string>0x282737</string>
	<key>t4</key>
	<string>0xb9bcc3</string>
	<key>t5</key>
	<string>0x919cee</string>
	<key>t6</key>
	<string>0x71767c</string>
</dict>
</plist>
